<!DOCTYPE html>
<html lang="kr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[IPSAP] ${기관명}의 IPSAP 기관 계정 탈퇴 신청이 접수되었습니다.</title>
  </head>
  <body>
    <table style="width:100%; height:100%; box-sizing:border-box;
                  font-family:'맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif !important; font-size:14px; letter-spacing:-0.5px;
                  background-color:transparent; margin:0;" bgcolor="transparent">
      <tbody>
        <tr>
          <td align="center" valign="middle">
            <table width="800" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent"
                   style="max-width:800px; width:800px; margin-top:30px; margin-left:30px; box-shadow:0 0 0 3px #DCE6F0;
                          border:1px solid #C8D2DC; border-radius:10px; background:#FFFFFF;">
              <tbody>
                <tr>
                  <td style="padding:20px 30px 10px 20px; border-radius:0;">
                    <img height="60" src="/attach/org/sample_org/sample_logo.png" alt="기관 Logo" align="left" style="">
                    <img src="/assets/images/common/IPSAP_logo_top_fitted.png" alt="IPSAP Logo" align="right" style="padding:15px 0px 0px 0px;">
                  </td>
                </tr>
                <tr>
                  <td style="padding:20px 20px 20px 20px; font-size:18px; font-weight:bold; color:#FFFFFF; background:#283C64;" align="center" valign="top">
                    IPSAP 기관 계정 탈퇴 신청 접수 안내
                  </td>
                </tr>
                <tr>
                  <td style="padding:40px; word-break:keep-all; line-height:1.5em;">
                    <div><strong>${수신자}</strong>님, 안녕하세요. 동물실험 연구윤리 심사절차 표준화 플랫폼(IPSAP)의 관리자입니다.</div>
                    <div style="margin-top:1.2em;">
                      IPSAP 서비스에 기관으로 등록된 <strong style="padding:0 3px; background:#D2F0FF;">${기관명} 기관 계정의 탈퇴 신청이 접수</strong>되었습니다.</div>
                    <div style="margin-top:1.2em;">
                      <strong style="text-decoration:underline;">IPSAP 기관 계정의 탈퇴</strong>는<br>
                      탈퇴 신청 기관에서 현재 사용중인 <strong style="padding:0 3px; background:#FFD2EB;">모든 서비스와</strong> 기관에 등록된 <strong style="padding:0 3px; background:#FFD2EB;">모든 계정의 탈퇴</strong>를 의미하며,<br>
                      <strong style="text-decoration:underline">IPSAP의 서비스 관리자와 상담 후 진행</strong>할 수 있습니다.</div>
                    <div style="margin-top:2em;">※ <strong>IPSAP 기관 계정의 탈퇴</strong>는 <strong style="padding:0 3px; background:#FFD2EB;">IPSAP의 서비스를 제공받는 기관 계정의 탈퇴를 의미하는 것</strong>으로,<br>
                      <span style="margin-left:15px;">해당 기관에 제공된 <strong style="text-decoration:underline;">IPSAP 서비스 및 관련 Data를 사용할 수 없게됩니다.</strong></span></div>
                    <div style="margin-top:1.2em;">※ IPSAP 기관 계정의 탈퇴가 실행되면,<br>
                      <span style="margin-left:15px;">1) ${기관명}에 <strong style="padding:0 3px; background:#FFD2EB;">등록된 모든 사용자 계정이 ${기관명}에서 자동으로 탈퇴</strong>됩니다.</span><br>
                      <span style="margin-left:15px;">2) 기관 계정의 탈퇴가 확정됨과 동시에 해당 기관에 <strong style="text-decoration:underline">등록된 모든 사용자에게</strong></span><br>
                      <span style="margin-left:25px;"><strong style="padding:0 3px; background:#FFD2EB;">"${기관명}에서의 계정 탈퇴"가 자동으로 안내</strong>됩니다.</span><br>
                      <span style="margin-left:15px;">3) ${기관명}에서 <strong style="text-decoration:underline">자동으로 탈퇴 처리된 사용자</strong>는 해당 기관의 IPSAP 서비스만 사용할 수 없으며,</span><br>
                      <span style="margin-left:25px;"><strong style="padding:0 3px; background:#D2F0FF;">타 기관의 IPSAP 서비스 이용에는 영향이 없습니다.</strong></span><br>
                    </div>
                    <br>

                    <table width="100%" align="center" bgcolor="#F4F5F7" style="border:1px solid #DFE2E7; border-radius:5px; margin:0 auto;">
                      <tr>
                        <td height="10"></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td width="25%" height="30" align="right">기관명:</td>
                        <td width="5"></td>
                        <td align="left"><strong>${기관명}</strong></td>
                      </tr>
                      <tr>
                        <td width="25%" height="30" align="right">행정 간사명:</td>
                        <td width="5"></td>
                        <td align="left"><strong>${행정간사}</strong></td>
                      </tr>
                      <tr>
                        <td width="25%" height="30" align="right">아이디(Email):</td>
                        <td width="5"></td>
                        <td align="left"><strong>${아이디}</strong></td>
                      </tr>
                      <tr>
                        <td width="25%" height="30" align="right">탈퇴 신청 접수일:</td>
                        <td width="5"></td>
                        <td align="left"><strong>${탈퇴신청접수일}</strong></td>
                      </tr>
                      <tr>
                        <td height="10"></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>

                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom:20px; font-size:11px; color:#3C5078" align="center">
                    본 이메일은 발신 전용이므로 회신할 수 없습니다. 기타 문의사항은 IPSAP 서비스 관리자 <span style="color:#1E64FF;">${서비스관리자email}</span> 로 연락주시기 바랍니다.
                  </td>
                </tr>
                <tr>
                  <td style="border-top:1px solid #D2DCE6; padding:15px 0; font-size:11px; color:#3C5078; background:#F4F5F7" align="center">
                    서울특별시 강남구 언주로 732, 세종빌딩 9층<span style="margin:0 10px; opacity:0.5">|</span><a href="https://www.ipsap.co.kr" style="text-decoration:none;">https://www.ipsap.co.kr</a><span style="margin:0 10px; opacity:0.5">|</span><a href="mailto:${서비스관리자email};" style="text-decoration:none;">${서비스관리자email}</a>
                  </td>
                </tr>
                <tr>
                  <td height="10" style="border-top:1px solid #DCE6F0; background:none;"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
