<!DOCTYPE html>
<html lang="kr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IPSAP - 온라인 동물실험 심사 플랫폼</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/common/favicon.png">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/common/common.css" rel="stylesheet" type="text/css" />

  </head>
  <body class="admin">
    <!-- Left Sidenav -->
    <div id="leftsidenav" class="left-sidenav"></div>

    <div class="page-wrapper">
      <!-- Top Bar Start -->
      <div id="admin_topbar" class="topbar"></div>

      <!-- Page Content-->
      <div class="page-content flexCentral">
        <div class="container-fluid limited_width">

          <div class="row">
            <div class="col-lg-12">

              <!-- Card -->
              <div class="card thick mTop30">
                <div class="card-header mail_content flexMid flexCenter">
                  <div class="card-title flexCentral">Mail Template</div>
                  <div class="comment mLeft20 mTop10">저장된 Mail Template의 확인만 가능하며, 내용의 변경은 Template File을 직접 수정해야 됩니다.</div>
                </div>
                <div class="card-body">

                  <ul class="list-group list-group-flush border">
                    <!--
                      심사 관련
                    -->
                    <a href="/html/admin/mail/template-01.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-01
                        <span class="blue_vivid mLeft10">[심사 진행 단계 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] &lt;IACUC ${신청서유형} - ${과제명}&gt;의 ${진행단계} 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-02.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-02
                        <span class="blue_vivid mLeft10">[심사 시작/미이행 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] &lt;IACUC ${신청서유형} - ${과제명}&gt;의 심사 ${진행상태} 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-03.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-03
                        <span class="blue_vivid mLeft10">[심사 종료 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] &lt;IACUC ${신청서유형} - ${과제명}&gt;의 심사 ${진행상태} 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-04.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-04
                        <span class="blue_vivid mLeft10">[심사 결과 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] &lt;IACUC ${신청서유형} - ${과제명}&gt;의 심사 결과 안내입니다.</span>
                      </div>
                    </a>


                    <!--
                      기관 계정
                    -->
                    <a href="/html/admin/mail/template-50.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-50
                        <span class="blue_vivid mLeft10">[IPSAP 기관 계정 등록 승인 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 서비스 이용이 승인되었습니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-51.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-51
                        <span class="blue_vivid mLeft10">[IPSAP 기관 계정 탈퇴 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 IPSAP 기관 계정 탈퇴 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-52.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-52
                        <span class="blue_vivid mLeft10">[IPSAP 기관 정보 변경 승인 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 정보 변경이 승인되었습니다.</span>
                      </div>
                    </a>
                    <!--
                      IPSAP 사용자 계정
                    -->
                    <a href="/html/admin/mail/template-53.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-53
                        <span class="blue_vivid mLeft10">[IPSAP 사용자 계정 탈퇴 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] IPSAP 사용자 계정 탈퇴 안내입니다.</span>
                      </div>
                    </a>


                    <!--
                      사용자 관련
                    -->
                    <!-- IPSAP 신규 / 기관 사용자 등록-->
                    <a href="/html/admin/mail/template-60.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-60
                        <span class="blue_vivid mLeft10">[임시 비밀번호 발급 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${대상자}님의 임시 비밀번호 발급 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-61.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-61
                        <span class="blue_vivid mLeft10">[신규 계정, 사용자 등록 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] IPSAP 계정 및 ${기관명}의 사용자 등록 안내입니다.</span>
                      </div>
                    </a>
                    <!-- 기관 사용자 추가 등록-->
                    <a href="/html/admin/mail/template-62.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-62
                        <span class="blue_vivid mLeft10">[기관 사용자 등록 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 사용자 등록 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-63.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-63
                        <span class="blue_vivid mLeft10">[기관 사용자 탈퇴 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 사용자 탈퇴 안내입니다.</span>
                      </div>
                    </a>
                    <a href="/html/admin/mail/template-64.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-64
                        <span class="blue_vivid mLeft10">[기관 사용자 탈퇴 완료 안내]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 사용자 탈퇴 완료 안내입니다.</span>
                      </div>
                    </a>
                    <!-- 기관 사용자 탈퇴 공지 - 행정간사에게 -->
                    <a href="/html/admin/mail/template-65.html" target="_blank" class="list-group-item flexMid">
                      <div class="w280">
                        <i class="far fa-window-restore mRight10"></i>Template-65
                        <span class="blue_vivid mLeft10">[기관 사용자 탈퇴 공지]</span>
                      </div>
                      <div>
                        <span class="mLeft20">제목: [IPSAP] ${기관명}의 사용자 탈퇴 공지입니다.</span>
                      </div>
                    </a>


                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>
        <!--//container-fluid -->

        <footer id="admin_footer" class="footer text-center"></footer>
        <!--//footer-->
      </div>
      <!--//page content -->
    </div>
    <!--//page-wrapper -->


    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/feather.min.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>

    <!-- common -->
    <script src="/assets/js/common/const.js"></script>
    <script src="/assets/js/common/common.js"></script>
    <script src="/html/admin/common_admin.js"></script>

  </body>
</html>
